.container {
	width: 33%;
	margin-top: 200px;
	margin-right: auto;
	margin-left: auto;
}




.octopus {
	position:relative;


}

.relative1 {
position: relative;
top: -400px;
left:-9px;
}

.relative2 {
	position:relative;
	top: -370px;
	left:38px;

}
